CountyCodes8791/
EnergySeries_V3.xlsx
base1/base1400
base1/base1401
base1/base1402
base1/base1403
base1/base89
base1/base90
base1/base91
base1/base92
base1/base93
base1/base94
base1/base95
base1/base96
base1/base97
base1/base98
base1/base99
base2/HHP1_1400
base2/HHP1_1401
base2/HHP1_1402
base2/HHP1_1403
base2/HHP1_89
base2/HHP1_90
base2/HHP1_91
base2/HHP1_92
base2/HHP1_93
base2/HHP1_94
base2/HHP1_95
base2/HHP1_96
base2/HHP1_97
base2/HHP1_98
base2/HHP1_99
base2/P1_1400
base2/P1_1401
base2/P1_1402
base2/P1_1403
base2/P1_89
base2/P1_90
base2/P1_91
base2/P1_92
base2/P1_93
base2/P1_94
base2/P1_95
base2/P1_96
base2/P1_97
base2/P1_98
base2/P1_99
base3/P2_1400
base3/P2_1401
base3/P2_1402
base3/P2_1403
base3/P2_89
base3/P2_90
base3/P2_91
base3/P2_92
base3/P2_93
base3/P2_94
base3/P2_95
base3/P2_96
base3/P2_97
base3/P2_98
base3/P2_99
energy_pre_used.csv
food/Cigar_1400
food/Cigar_1401
food/Cigar_1402
food/Cigar_1403
food/Cigar_89
food/Cigar_90
food/Cigar_91
food/Cigar_92
food/Cigar_93
food/Cigar_94
food/Cigar_95
food/Cigar_96
food/Cigar_97
food/Cigar_98
food/Cigar_99
food/Food_1400
food/Food_1401
food/Food_1402
food/Food_1403
food/Food_89
food/Food_90
food/Food_91
food/Food_92
food/Food_93
food/Food_94
food/Food_95
food/Food_96
food/Food_97
food/Food_98
food/Food_99
food/NonCatDrinks_1400
food/NonCatDrinks_1401
food/NonCatDrinks_1402
food/NonCatDrinks_1403
food/NonCatDrinks_89
food/NonCatDrinks_90
food/NonCatDrinks_91
food/NonCatDrinks_92
food/NonCatDrinks_93
food/NonCatDrinks_94
food/NonCatDrinks_95
food/NonCatDrinks_96
food/NonCatDrinks_97
food/NonCatDrinks_98
food/NonCatDrinks_99
geo/GEO1400.xlsx
geo/GEO1401.xlsx
geo/GEO1402.xlsx
geo/GEO1403.xlsx
geo/GEO89Xlsx.xlsx
geo/GEO90Xlsx.xlsx
geo/GEO91Xlsx.xlsx
geo/GEO92Xlsx.xlsx
geo/GEO93Xlsx.xlsx
geo/GEO94Xlsx.xlsx
geo/GEO95Xlsx.xlsx
geo/GEO96Xlsx.xlsx
geo/GEO97.xlsx
geo/GEO98.xlsx
geo/GEO99.xlsx
merged/Merged_1400
merged/Merged_1401
merged/Merged_1402
merged/Merged_1403
merged/Merged_89
merged/Merged_90
merged/Merged_91
merged/Merged_92
merged/Merged_93
merged/Merged_94
merged/Merged_95
merged/Merged_96
merged/Merged_97
merged/Merged_98
merged/Merged_99
merged/energy
merged/merged
merged/meta_data
processed/
raw_data/
sectors/Cloth_1400
sectors/Cloth_1401
sectors/Cloth_1402
sectors/Cloth_1403
sectors/Cloth_89
sectors/Cloth_90
sectors/Cloth_91
sectors/Cloth_92
sectors/Cloth_93
sectors/Cloth_94
sectors/Cloth_95
sectors/Cloth_96
sectors/Cloth_97
sectors/Cloth_98
sectors/Cloth_99
sectors/Invest_1400
sectors/Invest_1401
sectors/Invest_1402
sectors/Invest_1403
sectors/Invest_89
sectors/Invest_90
sectors/Invest_91
sectors/Invest_92
sectors/Invest_93
sectors/Invest_94
sectors/Invest_95
sectors/Invest_96
sectors/Invest_97
sectors/Invest_98
sectors/Invest_99
sectors/Part3_1400
sectors/Part3_1401
sectors/Part3_1402
sectors/Part3_1403
sectors/Part3_89
sectors/Part3_90
sectors/Part3_91
sectors/Part3_92
sectors/Part3_93
sectors/Part3_94
sectors/Part3_95
sectors/Part3_96
sectors/Part3_97
sectors/Part3_98
sectors/Part3_99
sectors/section04_1400
sectors/section04_1401
sectors/section04_1402
sectors/section04_1403
sectors/section04_89
sectors/section04_90
sectors/section04_91
sectors/section04_92
sectors/section04_93
sectors/section04_94
sectors/section04_95
sectors/section04_96
sectors/section04_97
sectors/section04_98
sectors/section04_99
sectors/section13_1400
sectors/section13_1401
sectors/section13_1402
sectors/section13_1403
sectors/section13_89
sectors/section13_90
sectors/section13_91
sectors/section13_92
sectors/section13_93
sectors/section13_94
sectors/section13_95
sectors/section13_96
sectors/section13_97
sectors/section13_98
sectors/section13_99